*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-black:#333333;
  --primary-color:#faf4e5;
  --primary-pink:#e5a1aa;
  --color-blue:#8080ff;
  --color-green:#80ff80
}
.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.experience-canvas{
  width: 100%;
  height: 100%;
}

/* ----------page--------------- */
.page{
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-wrapper{
    position: relative;
}
/* ----------section---------------- */

.section-margin{
  height: 3000px;
  width: 100%;
}
.section{
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color:var(--primary-color) ;
  /* overflow: hidden; */
}
.left{
  margin-right: auto;
  border-top-right-radius:700px 700px ;
  border-bottom-right-radius:0px 0px ;
}
.right{
  margin-left: auto;
  border-top-left-radius:700px 700px ;
  border-bottom-left-radius:0px 0px ;
}
/* ------------progress bar -------------- */
.progress-wrapper{
  position: relative;
  height: 0;
  width: 12px;
  z-index: 99999;
}
.progress-bar-wrapper-left{
  position: absolute;
  width: 12px;
  top: 0;
  left: 0;
}
.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}
.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-pink);
  transform-origin: top center;
  transform: scaleY(1);
}
.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--primary-pink);
  padding-bottom: 400px;
}
.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}
.section-heading{
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 64px;
}
.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 36px;
}

/* Fancy Decoration Part of section */
.section-title{
  position: relative;
  color: var(--primary-pink);
}
.section-title-text{
  display: block;
  font-size: 60px;
  font-weight: bold;
  transform-origin: left;
  transform: skewY(25deg);
  /* z-index: 5; */
  text-transform: uppercase;
}
.styleOne,.styleTwo,.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 378px;
  height: 60px;
  border: 1px solid var(--primary-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}
.styleOne{
  top: 0;
}
.styleTwo{
  top: 80px;
}
.styleThree{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--primary-pink);
}
.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--primary-pink);
  font-size: 48px;
}
/* --------hero--------------- */

.hero{
  width: 100vw;
  height: 100vh;
}
.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100%-120px);
  margin: 0 auto;
  max-width: 1100px;
  /* background-color: red; */
}
.hero-main{
  position: absolute;
  bottom: 168px;
  left: 0;
}
.hero-second{
  position: absolute;
  top: calc(50%-120px);
  right: 0;
}
.hero-main-description{
  font-size: 60px;
}
.hero-second-subheading{
  font-size: 60px;
  text-transform: uppercase;
}
/* ----------blue-text--------------- */
.blue-text{
  color: var(--color-blue);
}
.blue-border{
  border-color: var(--color-blue);
}
.blue-background{
  background-color: var(--color-blue);
}
/* ----------green-text--------------- */
.green-text{
  color: var(--color-green);
}
.green-border{
  border-color: var(--color-green);
}
.green-background{
  background-color: var(--color-green);
}
/* ------------rwd------------------- */
@media(max-width:968px){
  .section{
    width: 100%;
  }
  .progress-bar-wrapper-left{
  
    right: 0;
    left: auto;
  }
}